.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    background-color: #FFF;
    color: #000;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }