<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li><a  routerLink="/home"  routerLink="home">HOME<span class="sr-only">(current)</span></a></li>
          <li><a  routerLink="/about"  routerLink="about">ABOUT</a></li>
          <li><a  routerLink="/foodbank"  routerLink="foodbank">FIND A FOOD BANK</a></li>
          <li><a  routerLink="/community"  routerLink="community">COMMUNITY</a></li>
          <li><a  routerLink="/contact"  routerLink="contact">CONTACT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn-floating btn-circle btn-fb" type="button" role="button"><i class="fa-facebook-f"></i></a></li>
            <li><a class="btn-floating btn-circle btn-tw" type="button" role="button"><i class="fa-twitter"></i></a>
            <li><a class="btn-floating btn-circle btn-gplus" type="button" role="button"><i class="fa-google-plus-g"></i></a>
          </ul>
      </div>
    </div>
</nav>