<div class="page-header">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 well text-justify">
          <h4>Mission Statement</h4>
          One of the greatest challenges for businesses today is cash flow management. Failing to meet financial goals can result in delayed settlement of salaries and overheads. The difference between the btn-xs and -sm are only their padding. And this is not covered with this snippet. This snippet calculates the sizes based on the font-size only 
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h1>ABOUT US</h1>
                <h3>Overview</h3>
                <p>This word has two main meanings. The first has to do with being pleased and satisfied (feeling content) or making someone else feel happy and at peace with things (contenting them). The other meaning has to do with subject matter: the content of a history class might be American history. The content of a math class might be geometry. As long as there's a topic or subject, there's content.</p>
                <h3>Who We Are</h3>
                <p>This word has two main meanings. The first has to do with being pleased and satisfied (feeling content) or making someone else feel happy and at peace with things (contenting them). The other meaning has to do with subject matter: the content of a history class might be American history. The content of a math class might be geometry. As long as there's a topic or subject, there's content.</p>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
</div>