<div class="container text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>CONTACT US</h1>
      <h4>Please contact us with any questions or feedback and we will try to get back to you as soon as we can !!!</h4>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last Name">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" formControlName="subjectName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subjectName.errors }" placeholder="Subject">
                  <div *ngIf="submitted && f.subjectName.errors" class="invalid-feedback">
                    <div *ngIf="f.subjectName.errors.required">Subject Name is required</div>
                </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
              <textarea class="form-control" id="inputtextarea" rows="3" placeholder="Write Your Message Here..."></textarea>
            </div>
            </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
              </div>
            </div>
        </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>