/* You can add global styles to this file, and also import other style files */
@import "~bootstrap3/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Calibri');
body{
    font-family: 'Calibri';
}
.navbar-brand{
    color: #FFF !important;
    width: 80%;
    height: 10%;
    text-align: center;
}
.navbar{
    margin: 0%;
    border-radius: 0px;
}
.navbar-inverse{
    border-color: #222;
}