<div class="jumbotron text-center">
  <h1>SEATTLE FOOD <br/>BANK FINDER</h1>
  Aiming to tackle Seattle's ever-increasing homelessness crisis by easing the process of finding a suitable food bank for Great Seattle Residents
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 text-justify">
          <div class="page-header">
            <h1>What We Offer</h1><br/>In publishing, art, and communication, content is the information and experiences that are directed towards an end-user or audience. Content is "something that is to be expressed through some medium, as speech,
          </div>
        </div>
        <div class="col-sm-8 text-center">
                <img src="assets/images/home_thumbail.png" alt="...">
        </div>
    </div>
    <div class="row well">
        <div class="col-sm-3 text-justify">
          <h4>FIND A FOOD BANK</h4>
          One of the greatest challenges for businesses today is cash flow management. Failing to meet financial goals can result in delayed settlement of salaries and overheads. 
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 text-justify">
          <h4>COMMUNITY</h4>
          This is where it becomes complicated. Payment reminders, default judgments, late payment notices and other traditional debt collection strategies will result in huge expenses and reduced margins.
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3 text-justify">
          <h4>CONTACT</h4>
          Follow us to Facebook, Twitter and Instagram
        </div>
    </div>
</div>
